/* Nesting */
/* SCSS */
nav {
  font-size: 1em;
  font-font-weight: bold; }
  nav ul {
    list-style-type: none;
    display: flex;
    padding-right: 40px; }
    nav ul li {
      margin: 0 5px 0 0;
      color: white; }
      nav ul li a {
        text-decoration: none;
        color: white; }
        nav ul li a:hover {
          text-decoration: underline; }
    nav ul li:last-child {
      flex-grow: 2;
      text-align: right; }

/* css for registration form and errors*/
/* Styles for listing table */
body {
  padding: 40px 10px;
  background-color: #eee; }

.listing-reg h1 {
  text-align: center;
  margin: 0 0 2rem; }

.form-registration {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }
  .form-registration input {
    width: 100%;
    margin: 0px 0 10px; }
  .form-registration .submit-button {
    border: none;
    background-color: #daaa0e;
    color: white;
    padding: 5px;
    margin-top: 20px; }

.my-errors {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
  color: #333;
  font-size: 1.2rem;
  display: table; }
  .my-errors li:before {
    content: "! Error : ";
    color: #f00;
    font-weight: bold; }

.listing-table {
  width: 100%; }
  .listing-table th {
    padding: 10px;
    border-bottom: 1px solid #666;
    background: #000;
    color: #fff; }
    .listing-table th:first-child {
      border-right: 1px solid #666; }
  .listing-table td {
    padding: 10px;
    border-bottom: 1px solid #666; }
    .listing-table td:first-child {
      border-right: 1px solid #666; }

.form-title {
  text-align: center;
  font-weight: 700; }

/* Variables */
html {
  font-size: 1em;
  width: 100%; }

body {
  font-family: Arial, Helvetica, Sans-Serif;
  background: #daaa0e; }

header {
  height: 50px;
  width: 1350px;
  margin: 0.8em auto 1em auto; }

main {
  background: white;
  width: 1350px;
  min-height: 535px;
  padding: 1.5%;
  margin: 0 auto;
  display: flex; }
  main #intro-image {
    flex-grow: 2;
    margin: 25px; }
    main #intro-image img {
      width: 800px; }
    main #intro-image h2 {
      text-align: center; }
  main #intro-text {
    background: #d4d5d8;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 10px;
    width: 40%; }
    main #intro-text > div {
      width: 100%; }
    main #intro-text h3 {
      font-size: 2em;
      color: #313130;
      margin: 20px 0; }
    main #intro-text span {
      font-family: "Sacramento", cursive;
      font-size: 2em; }

footer {
  width: 1350px;
  margin: 2em auto;
  padding-left: 80px;
  font-size: 0.85em; }

button, .submit-buttton {
  color: white;
  height: 40px;
  background: #daaa0e;
  margin-top: 2em; }

.submit-buttton {
  border: 1px #313130; }
