@import 'variables';

// navbar background color and font
.navbar {
  background-color: #333;
  font-family: "Montserrat", sans-serif;

  // navbar brand
  &-brand {
    font-weight: bold;
  }

  // navbar links
  &-nav {
    .nav-link {
      color: #fff;
      font-size: 1.2rem;
      text-transform: uppercase;
      margin-right: 1rem;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: #ff6d00;
      }
    }
  }

  // search bar and login button container
  .search-login-container {
    display: flex;
    align-items: center;

    @media (max-width: $breakpoint-tablet) {
      flex-direction: column;
    }
  }

  // search bar
  .form-control {
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 2rem;
    margin-right: 1rem;
  }

  // search button
  .btn-outline-light {
    border-color: #fff;
    border-radius: 2rem;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #fff;
      color: #333;
    }
  }

  // login button container
  .login-button-container {
    margin-left: 1rem;

    @media (max-width: $breakpoint-tablet) {
      margin-left: 0;
      margin-top: 1rem;
    }

    .nav-link {
      color: #fff;
      font-size: 1.2rem;
      text-transform: uppercase;
      margin-right: 1rem;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: #ff6d00;
      }
    }
  }

  // hamburger menu
  .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="%23fff" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22" /%3E%3C/svg%3E');
  }
}