<footer class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>&copy; 2023 Product Catalog. For Presentation Purposes ONLY.</p>
        </div>
      </div>
    </div>
</footer>
