<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <a class="navbar-brand">Product Catalog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="./home.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <% if (user && user.isAdmin) { %>
              <li class="nav-item">
                <a class="nav-link" href="/products/add">Add Product</a>
              </li>
              <% } %>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/cart.html">
                <i class="fas fa-shopping-cart"></i>
                <span id="cart-item-count">0</span>
                <span id="cart-total">$0.00</span>
              </a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0 ml-3">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
</header>


<footer class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>&copy; 2023 Product Catalog. For Presentation Purposes ONLY.</p>
        </div>
      </div>
    </div>
</footer>
