@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiAyp8kv8JHgFVrJJLmE0tCMPc.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmv1pVF9eL.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm21lVF9eL.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrJJLucHtF.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmg1hVF9eL.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmr19VF9eL.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmy15VF9eL.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm111VF9eL.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm81xVF9eL.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrLPTucHtF.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLFj_Z1xlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1xlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1xlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLBT5Z1xlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syncopate/v19/pe0pMIuPIYBCpEV5eFdKvtKaAw.ttf) format('truetype');
}
* {
  box-sizing: border-box !important;
  transition: ease all 0.5s;
}
body {
  width: 1003;
  height: 1008;
  color: #666666;
  font-size: lem;
  font-family: Poppins;
  line-height: 1.80857;
  font-weight: normal;
  overflow-x: hidden;
}
.about_main .collection_section {
  width: 1008;
  float: left;
  margin-top: 40px;
}
.about_main .collection_section .container .new_text {
  width: 1008;
  float: left;
  font-size: 2em;
  color: #0c0116;
}
.about_main .collection_section .container .consectetur_text {
  width: 100%;
  float: left;
  font-size: 1.2em;
  color: #0c0116;
  font-weight: 400;
  margin-left: 0px;
  padding-bottom: 30px;
}
.about_main .collection_section_3 {
  width: 100%;
  float: left;
  padding-top: 0px;
}
.about_main .collection_section_3 .container .racing_shoes {
  width: 100%;
  float: left;
  background-color: #eae7e7;
  height: auto;
  padding-top: 70px;
  background-size: 100%;
  padding-bottom: 100px;
  margin-bottom: 100px;
}
.about_main .collection_section_3 .container .racing_shoes .shoes-img3 {
  width: 1008;
  float: left;
  text-align: center;
}
.about_main .collection_section_3 .container .racing_shoes .shoes-img3 img {
  margin-top: 4em;
  width: 70%;
}
.about_main .collection_section_3 .container .racing_shoes .sale_text {
  width: 100%;
  float: left;
  font-size: 3em;
  color: #cf434f;
  line-height: 75px;
}
.collection .sale_text {
  width: 100%;
  float: left;
  color: #ffffff;
  text-align: center;
  font-family: 'Syncopate', sans-serif;
  font-weight: bold;
  font-size: 3em;
  background-color: #cf434f;
  padding: 30px Opx;
}
.collection_section_3 .container .racing_shoes .number_text {
  width: 1008;
  float: left;
  font-size: 3em;
  color: #cf434f;
  line-height: 75px;
}
.collection_section_3 .container .racing_shoes .seemore {
  width: 80%;
  height: S0px;
  color: #ffffff;
  background-color: #cf434f;
  font-size: 1.7em;
  margin-top: 35px;
}
.copyright {
  width: 1008;
  float: left;
  font-size: lem;
  color: #ffffff;
  text-align: center;
  padding: 10px Opx;
  background-color: #cf434f;
  font-family: Poppins;
}
