@import url(https://fonts.googleapis.com/css?family=Bitter:400,400italic,700);

//Colors:
/*---------
rgb(255,255,255)
rgb(0,0,0)
rgba(0,0,0,0.5)
rgba(0,0,0,0.24)
rgb(22, 34, 42)
rgb(58, 96, 115)


//Fonts:
Bitter
FontAwesome

----------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bitter";
  
}


$max-width: 80em;

.header {
  background: rgb(58,96,115);
  background: linear-gradient(90deg, rgba(58,96,115,1) 16%, rgba(22,34,42,1) 100%);text-align: center;
  height: 150px;

}
.header h1 {
  padding-top: 50px;
  color: #fff;
  font-size: large;
}
img {
  width: 150px;
  height: 150px;
}
#vue h3{
  text-align: center;
  margin-top: 5px;
}
#images {
  width: 800px;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto;

  margin-top: 5px;
  .catalog {

    text-align: center;
    margin: 0.50em 0.50em 0.50em 0.50em;
  }
  .desc {
    font-weight: bold;
    text-align: center;
  }
  .leg {
    text-align: center;
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
  .btn {
    background-color: #fff;
  }
}