
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Page Not Found</title>
    <style>
      body {
        background-color: #F6F6F6;
        font-family: Arial, sans-serif;
        text-align: center;
      }
      h1 {
        font-size: 6rem;
        margin-top: 3rem;
        color: #ff4500;
      }
      p {
        font-size: 2rem;
        margin-top: 1rem;
        color: #8f8f8f;
      }
      img {
        margin-top: 4rem;
        max-width: 80%;
      }
    </style>
  </head>
  <body>
    <h1>Oops! You found my secret page!</h1>
    <p>But it looks like you're lost...</p>
    <img src="/public/images/funny_cat.gif" alt="404 cat" />
    <p>Don't worry, the cat will show you the way back home.</p>
  </body>
</html>
