#productsGrid {
    grid-template-rows: repeat(14, minmax(100px, auto));
}

#lineBreak{ 
width:90%; 
border-top: 3px solid rgb(7, 7, 7);
grid-row: 5;
}

#lineBreak2{
width:90%; 
border-top: 3px solid rgb(7, 7, 7);
grid-row: 8;
}


#productsH1 { 
    grid-row: 3;
    color: rgb(0, 0, 0); 
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 65px;
    font-weight: normal; 
    line-height: 60px; 
    text-transform: uppercase; 
    text-shadow: 2px 2px 0 #000;
    text-align: center;
}


#productDescriptionP { 
    grid-row: 6 /7; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -96px;
}


#productDescriptionC{ 
    position: inherit;
    width: 90%;
    height: auto; 
    text-transform: uppercase; 
    text-align: center;
}

#productsH2 { 
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 45px;
    font-weight: normal; 
    line-height: 60px; 
    text-transform: uppercase; 
    text-shadow: 2px 2px 0 #000;
    text-align: center;
    position: relative;
    margin-bottom: 40px;
}

#relatedPTitle { 
    grid-row: 9;
    color: rgb(0, 0, 0); 
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 35px;
    font-weight: normal; 
    line-height: 60px; 
    text-transform: uppercase; 
    text-shadow: 2px 2px 0 #000;
}


.relatedP { 
    grid-row: 10;
}

.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}


.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

#lastSection { 
    display: flex;
    grid-row: 12;
}

#lastImgProducts { 
    grid-row: 12; 
    width: 50%;
    margin-left: 5%;
}

#productsj1 { 
    width: 40%
}

/* Carousel Stylings */ 

#productsGrid { 
    justify-items: center;
}


#carouselDarkVariant {
grid-row: 4;
}

.carousel {
    width: 50%;
    height:auto;
}

#iframeR { 
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; 
}


.responsive-iframe { 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}




#partnersTitle {
    margin-bottom: 50px;
    color: rgb(0, 0, 0); 
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 65px;
    font-weight: normal; 
    line-height: 60px; 
    text-transform: uppercase; 
    text-shadow: 2px 2px 0 #000;
    text-align: center;
}